<!DOCTYPE html>
<html>
  <head>
    <title>Reboji</title>
    <link rel="stylesheet" href="assets/stylesheets/global.css">
    
    <meta name="description" content="">
    <meta name="author" content="Adriaan Balt Louis Scholvinck">

    <meta property="og:title" content="Reboji">
    <meta property="og:image" content="/assets/images/person-with-folded-hands.png">
    <meta property="og:description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
    <meta charset="UTF-8">

  </head>

  <body>
    <div id="App">
      <h1>Reboji, a chat bot rebus emoji game</h1>
      <section>
        <h2>Add Puzzle:</h2>
        <div>
          <label>Name:</label>
          <input type="text" id="name" name="name"/>
        </div>
        <div>
          <label>Emojis:</label>
          <input type="text" id="emojis" name="emojis"/>
        </div>
        <div>
          <label>Difficulty:</label>
          <input type="text" id="difficulty" name="difficulty"/>
        </div>
        <div>
          <label>Answer:</label>
          <input type="text" id="answer" name="answer"/>
        </div>
        <div>
          <label>Hint:</label>
          <input type="text" id="hint" name="hint"/>
        </div>
        <div>
          <button id="button" onClick="">Add Puzzle</button>
        </div>
      </section>
      <section>
        <h2>Current Puzzles:</h2>
        <div>
          
        </div>
      </section>
      <a href="http://www.balt.us" target="_blank">BALT.us</a>
    </div>

    <script src="assets/javascripts/vendor.js"></script>
    <script src="assets/javascripts/bundle.js"></script>
    
  </body>
</html>